---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Section from '../components/Section.astro';
import Form from '../components/Form.astro';
---

<Layout title="Makin' Bacon - Equilibrium Cure Calculator">
	<Header isHome={false} />
	<main class="torn">
		<Section>
			<p>The EQ calculator helps you determine the correct amounts of each ingredient in the cure.</p>
			<Form />
		</Section>
	</main>
</Layout>
