---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HomeSection from '../components/HomeSection.astro';
---

<Layout title="Makin' Bacon - Equilibrium Cure Calculator">
	<Header isHome={false} />
	<main>
		<HomeSection className="top-[-3vw]">
			<p>Makin' Bacon is your guide to the surprisingly easy, delicious journey of learning to make your own bacon!</p>
		</HomeSection>
		<section>
			not a home section!
		</section>
	</main>
</Layout>
