---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro';
import Section from '../components/Section.astro';
import Article from '../components/Article.astro';
import Title from '../components/Title.astro';
---

<script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault()

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        })
    })
  })
</script>
<Layout title="Makin' Bacon - Guide">
    <Header isHome={false} />
    <div class="container mx-auto mb-12">
        <form class="flex justify-center items-center">
          <input type="search" class="py-2 px-4 rounded-l-full" placeholder="Search…" />
          <button type="submit" class="py-2 px-3 bg-white rounded-r-full">
            <svg class="h-6 w-6 text-orange-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <circle cx="11" cy="11" r="8" />  <line x1="21" y1="21" x2="16.65" y2="16.65" /></svg>
            <span class="sr-only">Search</span>
          </button>
        </form>
    </div>
    <div id="process" class="py-8">
        <div class="container grid md:grid-cols-3 px-4 mx-auto">
            <aside class="hidden md:block col-span-1">
              <div class="sticky top-6">
                <h3 class="font-semibold mb-4">
                  <a href="#introduction">Introduction</a>
                </h3>
                <h3 class="font-semibold mb-4">
                  <a href="#inspect">Inspect the meat</a>
                </h3>
                <h3 class="font-semibold mb-4">
                  <a href="#cleanup">Clean up</a>
                </h3>
                <h3 class="font-semibold mb-4">
                  <a href="#weigh">Weigh the meat</a>
                </h3>
                <h3 class="font-semibold mb-4">
                  <a href="#bag">Bag the meat</a>
                </h3>
                <h3 class="font-semibold mb-4">
                  <a href="#measure">Measure the cure</a>
                </h3>
                <h3 class="font-semibold mb-4">
                  <a href="#stir">Stir the cure</a>
                </h3>
                <h3 class="font-semibold mb-4">
                  <a href="#apply">Apply the cure</a>
                </h3>
                <h3 class="font-semibold mb-4">
                  <a href="#seal">Seal the bag</a>
                </h3>
                <h3 class="font-semibold mb-4">
                  <a href="#massage">Massage the meat</a>
                </h3>
              </div>
            </aside>
            <main class="col-span-2">
              
              <Section id="introduction">
                <Title copy="Introduction" />
                <Article id="first">
                  <p>This guide is intended to be an in-depth, end-to-end guide to making your own bacon.</p>
                  <p>You can follow the guide top to bottom, or use the navigation to jump to the relevant section.</p>
                  <p>Please bear in mind that while the process can be simple, there is a huge variance in the approach, equipment and methods used.</p>
                </Article>
              </Section>

              <hr class="my-12 border-orange-400 mr-20" />
              
              <Section id="inspect">
                <Title copy="Inspect the meat" />
                <p>In this step we want to ensure that our meat is ready for curing.</p>
                <p>Check for any bits of bone missed by the butcher, and ensure that there are no bits of fat or loose hanging off.</p>
                <Article id="second">
                  <video loop autoplay muted class="my-4">
                    <source src="/movs/01-check.mp4" type="video/mp4" />
                  </video>
                </Article>
                <p>One way to think about this part of the process is that anything you leave on the meat you'll be chewing on later!</p>
              </Section>
              
              <hr class="my-4" />

              <Section id="cleanup">
                <Title copy="Clean up" />
                <Article id="second">
                  <p>We also want to trim off any hard fat or silverskin. This step is mostly optional, but again we don't want to be chewing on this stuff later on if we can avoid it.</p>
                  <video loop autoplay muted class="my-4">
                    <source src="/movs/02-cleanup.mp4" type="video/mp4" />
                  </video>
                  <p></p>
                </Article>
              </Section>

              <hr class="my-4" />
              
              <Section id="weigh">
                <Title copy="Weigh the meat" />
                <Article id="second">
                  <p>Grab your digital scale, make sure it is set to grams. We want precise results, and imperial measurements (pounds and ounces) will make this more difficult than using metric (grams).</p>
                  <video loop autoplay muted class="my-4">
                    <source src="/movs/03-weigh.mp4" type="video/mp4" />
                  </video>
                  <p>We'll use the weight of the meat to determine the correct amount of cure. Record the meat weight for later.</p>
                </Article>
              </Section>

              <hr class="my-4" />
              
              <Section id="bag">
                <Title copy="Bag the meat" />
                <Article id="second">
                  <p>Before we add the cure we'll place our meat in the bag we'll be using for the cure. This can be a ziploc bag, but you'll have to make sure you seal the bag and remove as much of the air as possible.</p>
                  <video loop autoplay muted class="my-4">
                    <source src="/movs/04-bag.mp4" type="video/mp4" />
                  </video>
                  <p>Applying the cure in the bag ensures that as much cure as possible ends up on the meat and not on our cutting board.</p>
                </Article>
              </Section>

              <hr class="my-4" />
              
              <Section id="measure">
                <Title copy="Measure the cure" />
                <Article id="second">
                  <p>Now for the important part: Measuring the ingredients for the cure. You'll end up with a small amount of curing salt - I ended up with around 3 or 4 grams for this piece. A little goes a long way!</p>
                  <p>We'll be dealing with very small quantities, so you can safely round up to the nearest gram (some of the cure will end up stuck to your hands anyway). For this piece I ended up with around 20g of salt and around 10g of sugar.</p>
                  <video loop autoplay muted class="my-4">
                    <source src="/movs/05-measure.mp4" type="video/mp4" />
                  </video>
                  <p>Early on we recommend keeping your ingredients simple. Salt, sugar and curing salt will give you a pretty standard bacon flavour. Once you are comfortable with the process you can tweak the recipe and add your own flavours.</p>
                </Article>
              </Section>

              <hr class="my-4" />
              
              <Section id="stir">
                <Title copy="Stir the cure" />
                <Article id="second">
                  <p>Stir the mixture carefully, especially the curing salt. We will be applying this directly to the meat, so we want it to be consistent.</p>
                  <video loop autoplay muted class="my-4">
                    <source src="/movs/06-stir.mp4" type="video/mp4" />
                  </video>
                  <p>You might think that you've ended up with a small amount of cure for the piece of meat, but don't worry. As you'll see later on, everything will eventually equalize (hence the name of the EQ curing process!).</p>
                </Article>
              </Section>

              <hr class="my-4" />
              
              <Section id="apply">
                <Title copy="Apply the cure" />
                <Article id="second">
                  <p>Pour around half of the cure into the bag on to the surface of the meat and massage until the cure evenly covers the first side. Flip the bag over and apply the remaining cure to the other side.</p>
                  <video loop autoplay muted class="my-4">
                    <source src="/movs/07-apply.mp4" type="video/mp4" />
                  </video>
                  <p>Try not to spill any. Remember, this method relies on us being fairly precise in our measurements and we want all of the cure in the bag.</p>
                </Article>
              </Section>

              <hr class="my-4" />
              
              <Section id="seal">
                <Title copy="Seal the bag" />
                <Article id="second">
                  <p>When sealing the bag, we want a sung fit but it doesn't need to be the full vacuum. Bear in mind that the process works by removing moisture and replacing it with our cure, so we want a tiny bit of movement inside the bag.</p>
                  <video loop autoplay muted class="my-4">
                    <source src="/movs/08-seal.mp4" type="video/mp4" />
                  </video>
                  <p>Again, you can use a ziploc bag, but you'll need to remove as much of the air from the bag as possible before sealing.</p>
                </Article>
              </Section>

              <hr class="my-4" />
              
              <Section id="massage">
                <Title copy="Massage the meat" />
                <Article id="second">
                  <p>Our meat is now prepared! Into the fridge it goes to begin the curing process. It's a good idea to massage the meat once sealed to encourage the cure to dissolve and dissipate.</p>
                  <video loop autoplay muted class="my-4">
                    <source src="/movs/09-massage.mp4" type="video/mp4" />
                  </video>
                  <p>You'll notice fairly early on that the cure is already dissolving and moisture will be accumulating in the bag. This is a good sign!</p>
                </Article>
              </Section>
              
            </main>
        </div>
    </div>
</Layout>
<style>
    #process {
		position: relative;
		background-color: #e2e8f0;
		color: #444;
		margin-top: 3vw;
		margin-bottom: 3vw;
	}
	#process:before,
	#process:after {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		background-size: 100%;
		height: 3vw;
	}
	#process:before {
		top: -3vw;
		background-image: url('/images/separator-bottom.svg');
		background-position: top center;
	}
  #process:after {
		bottom: -3vw;
		background-image: url('/images/separator.svg');
		background-position: bottom center;
	}
</style>